<div class="container mt-4">
  <h1>Angular Generic Table Demo</h1>
  <p>Angular Generic Table is a generic table component for Angular. It uses standard markup for tables ie. table, tr and td elements etc. and has support for expanding rows, global search, filters, sorting on multiple columns, pagination, export to CSV, column clicks, row selection, custom column rendering, custom export values, responsive layout etc. See <a href="https://github.com/hjalmers/angular-generic-table" target="_blank">docs</a> for more info.</p>
  <h3>Examples</h3>
  <ul class="nav flex-column mb-5">
    <li class="nav-item">
      <a class="nav-link" href="examples#basic">Basic static example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="examples#rest">Fetch data using REST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="examples#localization">Localization</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="examples#custom">Custom component inside table cell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="examples#lazy">Lazy loading</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="examples#addremoveedit">Add, remove and edit rows</a>
    </li>
  </ul>
  <app-basic></app-basic>
  <app-rest></app-rest>
  <app-localization></app-localization>
  <app-custom-column></app-custom-column>
  <app-lazy></app-lazy>
  <app-add-remove-edit></app-add-remove-edit>
</div>