<div class="container" style="margin-top: 20px;">
  <h1>Angular2 Generic Table Demo</h1>
  <p>Angular2 Generic Table is a generic table component for Angular 2. It uses standard markup for tables ie. table, tr and td elements etc. and has support for expanding rows, global search, filters, sorting on multiple columns, pagination, export to CSV, column clicks, custom column rendering, custom export values, responsive layout etc. See <a href="https://github.com/hjalmers/angular2-generic-table" target="_blank">docs</a> for more info.</p>
  <app-static></app-static>
  <br>
  <app-custom-column></app-custom-column>
  <br>
  <app-rest></app-rest>
  <br>
  <app-lazy></app-lazy>
</div>
