// import variables from bootstrap or change to your own bootstrap theme variables
@import "./node_modules/bootstrap/scss/_variables.scss";

$gt-inline-edit-color: $brand-primary !default;
$gt-totals-font-weight: $font-weight-bold !default;
$gt-totals-color: $gray-light !default;
$gt-totals-bg: $gray-lightest !default;
$gt-totals-font-size: $font-size-sm !default;

// basic table styles for sorting and for stacked table layout
generic-table {
  table {
    thead tr {
      th {
        &.sort-enable {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        &.sort-asc {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #000;
            border-radius: 2px;
            margin-left: 4px;
            vertical-align: middle;
          }
        }
        &.sort-desc {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
            border-radius: 2px;
            margin-left: 4px;
            vertical-align: middle;
          }
        }
      }
    }

    span.gt-row-label, th.gt-sort-label {
      display: none;
    }
    tr td.gt-button {
      vertical-align: middle;
      padding-top: 0;
      padding-bottom: 0;
      width:1px;
    }
    input.inline-edit {
      border: none;
      outline: none;
      line-height: initial;
      width: 100%;
      background: none;
      position: relative;
      text-align: inherit;
    }
    .gt-inline-edit {
      position: relative;
      &::before {
        opacity: 0;
        position: absolute;
        content: '';
        margin-left: -$table-cell-padding;
        background: $gt-inline-edit-color;
        height: 1px;
        width: 100%;
        top: auto;
        bottom: -1px;
        transform: scaleX(0);
        transition: all .2s ease-in-out;
      }
      &.gt-edited::before {
        transform: scaleX(1);
        opacity: 1;
      }
      .gt-dropdown .dropdown-menu {
        animation: fade-in 0.2s ease-in-out;
        .dropdown-item {
          cursor: pointer;
        }
      }
      .gt-inline-edit-notice {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        font-size: 7px;
        text-transform: uppercase;
        color: $gt-inline-edit-color;
        text-align: center;
      }
      &.gt-edited .gt-inline-edit-notice {
        opacity: 1;
      }
    }

    thead.gt-totals {
      border-bottom: 2px solid $table-border-color;
    }

    tfoot.gt-totals {
      border-top: 2px solid $table-border-color;
    }
    .gt-totals tr td {
      font-weight: $gt-totals-font-weight;
      color: $gt-totals-color;
      background: $gt-totals-bg;
      font-size: $gt-totals-font-size;
    }
  }
  table.table-sm {
    .gt-inline-edit {
      &::before {
        margin-left: -$table-sm-cell-padding;
      }
    }
  }
}

.gt-dropdown-menu.tether-enabled {
  display: block;
  max-height: 320px;
  overflow: auto;
}

// get break point for medium devices from bootstrap
@media (max-width: map-get($grid-breakpoints, md)) {
  generic-table {
    table.table-stacked {
      thead tr {
        display: table;
        width: 100%;
        th {
          text-align:right;
          &:first-child {
            text-align:left;
          }
          &.sort-disable {
            display: none;
          }
          &.gt-sort-label {
            display: table-cell;
          }
        }
      }
      tr {
        & + tr {
          border-top: 1px solid #ddd;
        }

        td {
          display: block;
          border: none;
          > span {
            display: table-cell;
          }
          > span.gt-row-label {
            white-space: nowrap;
            font-weight: bold;
          }
          > span.gt-row-content {
            text-align: right;
            width: 100%;
          }
          &.hidden-stacked {
            display: none;
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Sticky
.flex {
  display: block;
  height: 300px;
  position: static;
  margin-top: 50px;
  overflow: auto;
}

.flex thead {
  display: table;
  position: absolute;
  width: 100%;
  top: 0;
}

/* fit header to content */
.flex thead tr th {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.flex tbody {
  display: table;
  width: 100%;
}
