<h2>Column click</h2>
<p>This examples uses column click function to re-order rows, but you could call any function you like and apply your own style if you want something else than a regular button.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
    </div>
    <div class="text-center">
      <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer" #columnClickExample>
  </div>
</div>

