<a name="lazy"><h3>Lazy loading</h3></a>
<p>Use lazy loading to speed up things when working with large data sets and cache data in the table if you want to avoid unnecessary server requests. This example also utilizes column stacking on tablets and mobile devices so resize the browser and see what happens with the layout on smaller screens.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-block" exemplify="lazyExample" [escapeStrings]="escape" [source]="'child'" [target]="lazyExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'basic.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/lazy/lazy.component.ts'
  }]">
    <form class="form form-inline mb-4">
      <label for="highlight_input" class="form-control-label mr-sm-2">Search</label>
      <input id="highlight_input" class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" value="al" disabled placeholder="Search"/>
      <label class="form-control-label mr-sm-2">Visible columns:</label>
      <div class="form-check form-check-inline ml-0 mr-sm-2" *ngFor="let column of configObject.settings">
        <label class="form-check-label">
          <input type="checkbox" name="{{column.objectKey}}" class="form-check-input" [(ngModel)]="column.visible" (change)="myTable.redraw()">
          {{configObject.fields | gtProperty:column.objectKey:'name'}}
        </label>
      </div>
      <small class="form-text text-muted"><gt-table-info [genericTable]="myTable"></gt-table-info></small>
      <small class="form-text text-muted mb-2">
        Please note that the mock service currently doesn't support search, this is why this example has a fixed search string (just to show the highlight feature together with lazy load). Do the search server-side and return search terms in your response. Separate multiple search terms with a space [ ] or match whole phrase by putting them within quotes ["].
      </small>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.selectAllRows()">Select all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.deselectAllRows()">Deselect all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.expandAllRows()">Expand all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.collapseAllRows()">Collapse all</button>
    </form>
    <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtInfo]="configObject.info" [gtRowComponent]="expandedRow" (gtEvent)="trigger($event)" [gtOptions]="{stack:true, highlightSearch:true, lazyLoad:true, rowSelection:true}"></generic-table>
    <div class="text-center">
      <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer" #lazyExample>
  </div>
</div>
