<h3>Lazy loading</h3>
<p>Use lazy loading to speed up things when working with large data sets.</p>
<div class="card">
  <div class="card-header">Example</div>
  <div class="card-block">
    <form class="form form-inline" style="margin-bottom: 10px;">
      <div class="form-group">
        <label for="highlight_input" class="form-control-label">Search</label>
        <input id="highlight_input" class="form-control form-control-sm" value="al" disabled placeholder="Search"/>
        <div class="form-group">
          <label class="form-control-label">Visible columns</label>
          <div class="form-check" *ngFor="let column of configObject.settings">
            <label class="form-check-inline">
              <input type="checkbox" name="{{column.objectKey}}" class="form-check-input" [(ngModel)]="column.visible" (change)="myTable.redraw()">
              {{configObject.fields | gtProperty:column.objectKey:'name'}}
            </label>
          </div>
        </div>
        <small class="form-text text-muted"><gt-table-info [genericTable]="myTable"></gt-table-info></small>
        <small class="form-text text-muted">
          Please note that the mock service currently doesn't support search, this is why this example has a fixed search string (just to show the highlight feature together with lazy load). Do the search server-side and return search terms in your response. Separate multiple search terms with a space [ ] or match whole phrase by putting them within quotes ["].
        </small>
      </div>
    </form>
    <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtInfo]="configObject.info" [gtLazy]="true" [gtRowComponent]="expandedRow" (gtEvent)="trigger($event)" [gtHighlightSearch]="true"></generic-table>
    <div class="text-xs-center">
      <gt-pagination [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer">
    <strong>View source</strong><br/>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/app.module.ts" target="_blank">App module</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/lazy/lazy.component.ts" target="_blank">Component</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/lazy/lazy.component.html" target="_blank">Markup</a><br>
  </div>
</div>
