<a name="rest"><h3>Advanced</h3></a>
<p>Fetch data using REST-service, expand rows and display custom component, use custom functions for rendering, sorting and exporting. Apply predefined filter and simple function for adding new random data to table. This example also utilizes column stacking on tablets and mobile devices so resize the browser and see what happens with the layout on smaller screens.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-block" exemplify="restExample" [context]="this" [escapeStrings]="['[gtClasses]','[gtSettings]','[gtFields]','gtData','[gtRowComponent]','[gtOptions]','[genericTable]','#rowLength','#myTable']" [source]="'child'" [target]="restExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'rest.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/rest/rest.component.ts'
  }]">
    <form class="form form-inline mb-4">
      <label for="rows" class="form-control-label mr-sm-2">Rows</label>
      <select id="rows" class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #rowLength (change)="myTable.changeRowLength(rowLength.value)">
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
      <input class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #search (keyup)="applySearch(search.value)" placeholder="Search"/>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="applyFilter();">Apply predefined filter</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.gtClearFilter()">Remove filter</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="addData()">Add data</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="showColumnControls = !showColumnControls">Toggle columns</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.exportCSV()">Export to CSV</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.selectAllRows()">Select all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.deselectAllRows()">Deselect all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.expandAllRows()">Expand all</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.collapseAllRows()">Collapse all</button>
      <small class="form-text text-muted col-12 col-xl-auto mb-2 mt-lg-2 my-xl-auto row"><gt-table-info [genericTable]="myTable"></gt-table-info> Number of selected rows: {{selectedRows}}</small>
      <div *ngIf="showColumnControls" class="col-12 row mt-xl-2">
        <label class="form-control-label mr-sm-2">Visible columns:</label>
        <div class="form-check form-check-inline ml-0 ml-sm-2" *ngFor="let column of configObject.settings">
          <label class="form-check-label">
            <input type="checkbox" name="{{column.objectKey}}" class="form-check-input" [(ngModel)]="column.visible" (change)="myTable.redraw()">
            {{configObject.fields | gtProperty:column.objectKey:'name'}}
          </label>
        </div>
      </div>
    </form>
    <ng-template #gtColumnItem let-column>
      <span class="badge badge-default">{{column.columnOrder + 1}}</span>
      <span (dblclick)="columnSettings.toggleColumnVisibility(column)" class="badge" [ngClass]="{'badge-success':column.visible !== false, 'badge-danger':column.visible === false}">{{configObject.fields | gtProperty:column.objectKey:'name'}}</span>
    </ng-template>
    <button class="btn-link" (click)="columnSettings.toggleColumnSettings()"> {{columnSettings.active ? 'Hide column settings':'Show column settings'}}</button>
    <gt-column-settings [genericTable]="myTable" #columnSettings [gtColumnItem]="gtColumnItem">
      <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtRowComponent]="expandedRow" [gtOptions]="{stack:true, highlightSearch:true, rowSelection:true}" (gtEvent)="trigger($event)"></generic-table>
      <div class="text-center">
        <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable"></gt-pagination>
      </div>
    </gt-column-settings>
  </div>
  <div class="card-footer" #restExample>
  </div>
</div>
