<h3>Advanced</h3>
<p>Fetch data using REST-service, expand rows and display custom component, use custom functions for rendering, sorting and exporting. Apply predefined filter and simple function for adding new random data to table. This example also utilizes column stacking on tablets and mobile devices so resize the browser and see what happens with the layout on smaller screens.</p>
<div class="card">
  <div class="card-header">Example</div>
  <div class="card-block">
    <form class="form form-inline" style="margin-bottom: 10px;">
      <label for="rows" class="form-control-label mr-sm-2">Rows</label>
      <select id="rows" class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #rowLength (change)="myTable.changeRowLength(rowLength.value)">
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
      <input class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #search (keyup)="applySearch(search.value)" placeholder="Search"/>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="applyFilter();">Apply predefined filter</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.gtClearFilter()">Remove filter</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="addData()">Add data</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="showColumnControls = !showColumnControls">Toggle columns</button>
      <button class="btn btn-secondary btn-sm col-12 col-sm-auto mb-2 mr-sm-2 mb-lg-0" (click)="myTable.exportCSV()">Export to CSV</button>
      <small class="form-text text-muted col-12 col-xl-auto mb-2 mt-lg-2 my-xl-auto row"><gt-table-info [genericTable]="myTable"></gt-table-info></small>
      <div *ngIf="showColumnControls" class="col-12 row mt-xl-2">
        <label class="form-control-label mr-sm-2">Visible columns:</label>
        <div class="form-check form-check-inline ml-0 ml-sm-2" *ngFor="let column of configObject.settings">
          <label class="form-check-label">
            <input type="checkbox" name="{{column.objectKey}}" class="form-check-input" [(ngModel)]="column.visible" (change)="myTable.redraw()">
            {{configObject.fields | gtProperty:column.objectKey:'name'}}
          </label>
        </div>
      </div>

    </form>
    <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtRowComponent]="expandedRow" [gtOptions]="{stack:true, highlightSearch:true}"></generic-table>
    <div class="text-center">
      <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer">
    <strong>View source</strong><br/>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/app.module.ts" target="_blank">App module</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/rest/rest.component.ts" target="_blank">Component</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/rest/rest.component.html" target="_blank">Markup</a><br>
  </div>
</div>
