# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,scss,html}]
max_line_length = 80

# YAML files require space indentation.
# (http://yaml.org/spec/1.2/spec.html#id2777534)
[*.{y{,a}ml,json,html}]
indent_style = space
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false
