@import '../../../../../node_modules/bootstrap/scss/functions';
@import '../../../../../node_modules/bootstrap/scss/variables';
:host ::ng-deep {
	.nav-tabs .nav-link.active {
		background: $gray-100;
		border-bottom-color: $gray-100;
		color: $dark;
	}
	a#ngb-tab-0 {
		margin-left: 1rem;
	}
}
