<a name="basic"><h3>Basic</h3></a>
<p>Table with static data and simple pagination.</p>
<div class="card mb-5">
    <div class="card-header">Example</div>
    <div class="card-block" exemplify="basicExample" [context]="this" [escapeStrings]="['[gtClasses]','[gtSettings]','[gtFields]','[(gtData)]','[gtRowComponent]','[gtOptions]','[genericTable]','#myTable']" [source]="'child'" [target]="basicExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'basic.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/basic/basic.component.ts'
  }]">
        <div [ngClass]="{'temp':columnSettings.show}" style="position: relative">
            <button class="btn-link" (click)="columnSettings.show = !columnSettings.show" style="z-index:2;">Show setting</button>
            <gt-column-settings [genericTable]="myTable" #columnSettings></gt-column-settings>
            <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
            <div class="text-center">
                <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
                <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
            </div>
        </div>
    </div>
    <div class="card-footer" #basicExample></div>
</div>
