<h2>Row selection</h2>
<p>Enable row selection by passing <code>rowSelection:true</code> with <code>gtOptions</code>. By default you'll be able to select multiple rows, disable by passing <code>rowSelectionAllowMultiple:false</code>. Use <code>rowSelectionInitialState</code> to set an initial state for rows, pass <code>true</code> to set all rows to selected when table is initiated. <code>rowSelectionInitialState</code> also supports passing a function to determine initial row state</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [(gtData)]="configObject.data" [gtOptions]="options"></generic-table>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer" #basicExample></div>
</div>
