<h3>Basic</h3>
<p>Table with static data and simple pagination.</p>
<div class="card">
  <div class="card-header">Example</div>
  <div class="card-block">
      <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
      <div class="text-center">
        <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
        <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
      </div>
    </div>
  <div class="card-footer">
    <strong>View source</strong><br/>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/app.module.ts" target="_blank">App module</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/static/static.component.ts" target="_blank">Component</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/static/static.component.html" target="_blank">Markup</a><br>
  </div>
</div>
