<h3>Basic</h3>
<p>Table with static data and simple pagination</p>
<div class="card">
  <div class="card-header">Example</div>
  <div class="card-block">
      <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
      <div class="text-xs-center">
        <span class="link" (click)="myTable.previousPage()">&laquo;Previous</span>
        <!--Page:{{myTable.gt.currentPage}}/{{myTable.gt.pagesTotal}}-->
        <span class="link" (click)="myTable.nextPage()">Next&raquo;</span>
      </div>
    </div>
  <div class="card-footer">
    <strong>View source</strong><br/>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/app.module.ts" target="_blank">App module</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/static/static.component.ts" target="_blank">Component</a><br>
    <a href="https://github.com/hjalmers/angular2-generic-table/blob/master/src/app/static/static.component.html" target="_blank">Markup</a><br>
  </div>
</div>
