<h2>Column Search</h2>
<p>Filter the table by searching in a specific column. This is different from
  <a routerLink="/advanced">global search</a> search in that each header has a search field.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <input #globalSearch
      class="form-control form-control-sm mr-sm-2 mb-3 mb-sm-0"
      type="text" placeholder="Search" (keyup)="myTable.gtSearch(globalSearch.value)" />
    <generic-table #myTable
      [gtClasses]="'table-sm'"
      [gtSettings]="configObject.settings"
      [gtOptions]="options"
      [gtFields]="configObject.fields"
      [(gtData)]="configObject.data">
    </generic-table>
  </div>
</div>
