<h5>Angular generic table</h5>
<ul class="navbar-nav mb-4">
  <li class="nav-item">
    <a class="nav-link" routerLink="/start" routerLinkActive="active">Getting started</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://github.com/hjalmers/angular-generic-table/releases" target="_blank">Release notes</a>
  </li>
</ul>
<h5>Core</h5>
<ul class="navbar-nav mb-4">
  <!--<li class="nav-item">
    <a class="nav-link" routerLink="/basic" routerLinkActive="active">Basic example</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/advanced" routerLinkActive="active">Advanced example</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/styling" routerLinkActive="active">Styling</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/column-click" routerLinkActive="active">Column click</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/row-click" routerLinkActive="active">Row click</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/row-selection" routerLinkActive="active">Row selection</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/checkbox" routerLinkActive="active">Checkbox selection</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/totals" routerLinkActive="active">Totals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/localization" routerLinkActive="active">Localization</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/lazy" routerLinkActive="active">Lazy loading</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/inline-editing" routerLinkActive="active">Inline editing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-remove-edit" routerLinkActive="active">Add, remove and edit rows</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" routerLink="/custom-column" routerLinkActive="active">Custom component inside table cell</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" routerLink="/custom-header" routerLinkActive="active">Custom component inside table header</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/column-search" routerLinkActive="active">Column search</a>
  </li>
  <li class="nav-item">
     <a class="nav-link" routerLink="/drilldown" routerLinkActive="active">Drilldown</a>
  </li><li class="nav-item">
     <a class="nav-link" routerLink="/loading-data/" routerLinkActive="active"  fragment="rest">New demo</a>
  </li>-->
  <ng-container *ngFor="let section of sections; let i = index">
    <label class="font-weight-bold mt-3">{{section.title}}</label>
  <li class="nav-item" *ngFor="let example of section.examples">
    <a class="nav-link pt-0" [routerLink]="'/'+ section.path" routerLinkActive="active"  [fragment]="example.fragment">{{example.title}}</a>
  </li>
  </ng-container>
</ul>
<h5>Column settings</h5>
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/column-settings-component" routerLinkActive="active">Column settings component</a>
  </li>
</ul>
