<table class="table table-hover">
  <thead>
  <tr>
    <th *ngFor="let column of gtFields | gtVisible:gtSettings" ngClass="{{column.objectKey +'-column' | dashCase}} {{column.classNames}}" (click)="gtSort(column.objectKey,$event)">{{column.name}}</th>
  </tr>
  </thead>
  <tbody *ngIf="gtLazy">
  <template ngFor let-row [ngForOf]="gtData[gt.currentPage-1]">
    <tr ngClass="{{row.isOpen ? 'row-open':''}}">
      <td *ngFor="let column of row | gtRender:gtSettings:gtFields" ngClass="{{column.objectKey +'-column' | dashCase}} {{gtFields | getProperty:column.objectKey:'classNames'}}" [innerHTML]="column.renderValue" (click)="column.click ? column.click(row,column):'';column.expand ? row.isOpen = !row.isOpen:''"></td>
    </tr>
    <tr class="expanded-row" *ngIf="row.isOpen">
      <td [attr.colspan]="(gtFields | gtVisible:gtSettings).length">
        <gt-expanding-row [row]="row" [type]="component"></gt-expanding-row>
      </td>
    </tr>
  </template>
  </tbody>
  <tbody *ngIf="!gtAsync && !gtLazy">
  <template class="table-rows" ngFor let-row [ngForOf]="gtData | gtFilter:gt.filter:gt | gtOrderBy:sortOrder:gtFields | gtChunk:gt.rowLength:gt.currentPage">
    <tr ngClass="{{row.isOpen ? 'row-open':''}}">
      <td *ngFor="let column of row | gtRender:gtSettings:gtFields:refreshPipe" ngClass="{{column.objectKey +'-column' | dashCase}} {{gtFields | getProperty:column.objectKey:'classNames'}}" [innerHTML]="column.renderValue" (click)="column.click ? column.click(row,column):'';column.expand ? row.isOpen = !row.isOpen:''"></td>
    </tr>
    <tr class="expanded-row" *ngIf="row.isOpen">
      <td [attr.colspan]="(gtFields | gtVisible:gtSettings).length">
        <gt-expanding-row [row]="row" [type]="component" (redrawEvent)="redraw($event)"></gt-expanding-row>
      </td>
    </tr>
  </template>
  </tbody>
  <tbody *ngIf="gtAsync && !gtLazy">
  <template ngFor let-row [ngForOf]="gtData | async | gtFilter:gt.filter:gt | gtOrderBy:sortOrder | gtChunk:gt.rowLength:gt.currentPage">
    <tr ngClass="{{row.isOpen ? 'row-open':''}}">
      <td *ngFor="let column of row | gtRender:gtSettings:gtFields" ngClass="{{column.objectKey +'-column' | dashCase}} {{gtFields | getProperty:column.objectKey:'classNames'}}" [innerHTML]="column.renderValue" (click)="column.click ? column.click(row,column):'';column.expand ? row.isOpen = !row.isOpen:''"></td>
    </tr>
    <tr class="expanded-row" *ngIf="row.isOpen">
      <td [attr.colspan]="(gtFields | gtVisible:gtSettings).length">
        <gt-expanding-row [row]="row" [type]="component"></gt-expanding-row>
      </td>
    </tr>
  </template>
  </tbody>
</table>
