<div #someVar [innerHTML]="(demoContent | async).lead" class="mb-5"></div>
<ng-container *ngFor="let section of (demoContent | async).sections">
  <div [innerHTML]="section.description" class="mt-3" attr.id="{{section.fragment}}"></div>
  <label class="font-weight-bold" attr.for="{{section.fragment + 'Example'}}">Example</label>
  <div class="card mb-5">
    <div class="card-body" attr.id="{{section.fragment + 'Example'}}">
      <ng-container *ngComponentOutlet="section.component"></ng-container>
    </div>
    <ngb-tabset type="tabs">
      <ngb-tab [title]="example.title" *ngFor="let example of section.examples">
        <ng-template ngbTabContent>
          <app-code-highlight [code]="example.code" [lang]="example.lang"></app-code-highlight>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</ng-container>
