<button class="btn-link" (click)="columnSettings.toggleColumnSettings()"> {{columnSettings.active ? 'Hide column settings':'Show column settings'}}</button>
<gt-column-settings [genericTable]="myTable" #columnSettings>
  <generic-table [gtClasses]="'table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
  <div class="text-center">
    <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myTable"></gt-pagination>
  </div>
</gt-column-settings>


<ng-template #gtColumnItem let-column>
  <span class="badge badge-default">{{column.columnOrder + 1}}</span>
  <span (dblclick)="customColumnSettings.toggleColumnVisibility(column)" class="badge" [ngClass]="{'badge-success':column.visible !== false, 'badge-danger':column.visible === false}">{{configObject.fields | gtProperty:column.objectKey:'name'}}</span>
</ng-template>
<button class="btn-link" (click)="customColumnSettings.toggleColumnSettings()"> {{customColumnSettings.active ? 'Hide column settings':'Show column settings'}}</button>
<gt-column-settings [genericTable]="myCustomTable" #customColumnSettings [gtColumnItem]="gtColumnItem">
  <generic-table [gtClasses]="'table-hover'" #myCustomTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
  <div class="text-center">
    <gt-pagination [gtClasses]="'justify-content-center'" [genericTable]="myCustomTable"></gt-pagination>
  </div>
</gt-column-settings>
