<h2>Row click</h2>
<p>Listen for row click event and expand a new row or do something else, it's up to you:)</p>
<div class="alert alert-info">When row selection is turned on using <code>[gtOptions]={{ '{' }}"rowSelection:true"{{ '}' }}</code>, <code>gt-row-select</code> and <code>gt-row-deselect</code> will be emitted instead of <code>gt-row-clicked</code>.</div>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body" exemplify="basicExample" [context]="this" [escapeStrings]="['[gtClasses]','[gtSettings]','[gtFields]','[(gtData)]','[gtRowComponent]','[gtOptions]','[genericTable]','#myTable', 'gtEvent']" [source]="'child'" [target]="basicExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'row-click.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/row-click/row-click.component.ts'
  }]">
    <generic-table [gtClasses]="'table-sm table-hover'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data" (gtEvent)="eventListener($event)"></generic-table>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer" #basicExample></div>
</div>
