<div class="row">
<div class="col-sm-12">
  <div class="row">
    <h4 class="col-10">My custom row component</h4>
    <div class="col-2 text-sm-right">
      <i class="fa fa-close fa-lg" (click)="$hide()" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-3">
      <label class="control-label">First name</label>
      <div class="form-control-static">{{row.first_name}}</div>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label">Last name</label>
      <div class="form-control-static">{{row.last_name}}</div>
    </div>
    <div class="form-group col-sm-3">
      <label class="control-label">Favorite color</label>
      <div class="form-control-static">{{row.favorite_color}}</div>
    </div>
    <div class="form-group col-sm-3">
      <div style="border-radius: 50%;width: 55px;height: 55px;display: inline-block;vertical-align: middle;" [style.background]="row.favorite_color"></div>
    </div>
  </div>
  <button class="btn btn-primary btn btn-primary col-12 col-sm-auto float-right" (click)="newRandomColor();$redraw();">New random color</button>
</div>
</div>
