<h2>Drilldown</h2>
<p>Table with drilldown component. The drilldown component is basically a nested table that inherits the configuration from it's parent table. It also makes use of the <code>reportColumnWidth</code> option to preserve column widths. It's currently pretty basic but it supports some of the features from the main table like render etc. but feel free to create your own nested drilldown component using the <a href="https://github.com/hjalmers/angular-generic-table/blob/master/%40angular-generic-table/core/components/gt-drilldown.component.ts" target="_blank">drilldown component</a> if you need more control.</p>
<p class="alert alert-info">Note that you need to set  <code>[gtOptions]="{{ '{' }}reportColumnWidth:true{{ '}' }}"</code> to use the drilldown component.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"  [gtOptions]="options" (gtEvent)="eventListener($event)"></generic-table>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
  </div>
  <div class="card-footer" #drilldownExample></div>
</div>
