<h2>Custom columns</h2>
<p>Table using two custom column widgets, as well as external state tracking.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <generic-table [gtSettings]="gtConfig.settings"
                   [gtFields]="gtConfig.fields"
                   [gtData]="gtConfig.data"
                   [gtClasses]="'table-sm'"></generic-table>
    <button type="button" class="btn btn-primary btn-sm float-right" (click)="saveAll()">Save All</button>
  </div>
  <div class="card-footer" #customColumnsExample></div>
</div>
