<div class="row align-items-center">
  <div class="col-12 col-sm-auto font-weight-bold">Current sort behavior:</div>
  <div class="col" [innerHTML]="options.allowUnsorted ? 'Asc &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt; Desc &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt; Unsorted > Asc...':'Asc &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt; Desc &lt;i class=&quot;fa fa-chevron-right&quot;&gt;&lt;/i&gt; Asc...'"></div>
  <div class="col-12 col-sm-auto my-2">
    <button class="btn btn-sm btn-primary w-100" (click)="changeSortBehavior()">{{options.allowUnsorted ? 'Prevent unsorted':'Allow unsorted'}}</button>
  </div>
</div>
<generic-table [gtClasses]="'table-sm'"
               [gtSettings]="configObject.settings"
               [gtFields]="configObject.fields"
               [gtData]="employeeData"
               [gtOptions]="options">
</generic-table>
