<h2>Inline editing</h2>
<p>Table with simple inline editing. Edit cells using input field or select a value from a dropdown.</p>
<div class="alert alert-info">Please note that examples below only persists changes in memory so the data will be reset when component is reinitialized e.g when route changes or page is refreshed.</div>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <button class="btn btn-sm btn-outline-primary mb-3" (click)="toggleInlineEdit()">{{inlineEditState ? 'Disable inline edit' : 'Enable inline edit'}}</button>
    <ng-container *ngIf="myTable.hasEdits">
      <button class="btn btn-sm btn-outline-primary mb-3" (click)="myTable.inlineEditCancel()">Discard changes<i class="fa fa-times ml-2"></i></button>
      <button class="btn btn-sm btn-primary mb-3" (click)="myTable.inlineEditUpdate()">Save changes<i class="fa fa-save ml-2"></i></button>
    </ng-container>
    <div class="table-responsive">
      <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data" (gtEvent)="trigger($event)"></generic-table>
    </div>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
    <div class="alert alert-info" *ngIf="updatedRow">
      <div><strong>From:</strong> {{updatedRow?.oldValue | json}}</div>
      <div><strong>To:</strong> {{updatedRow?.newValue | json}}</div>
      <div><strong>Original:</strong> {{updatedRow?.originalValue | json}}</div>
    </div>

  </div>
  <div class="card-footer" #inlineEditExample></div>
</div>
<h3>Conditonal inline edit</h3>
<p>Enable inline edit if a certain condition is meet, eg. row value equals a specific value.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <generic-table [gtClasses]="'table-sm'" #conditionalTable [gtSettings]="conditionalConfigObject.settings" [gtFields]="conditionalConfigObject.fields" [gtData]="conditionalConfigObject.data" (gtEvent)="conditionalTrigger($event)"></generic-table>
    </div>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="conditionalTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="conditionalTable"></gt-pagination>
    </div>
    <div class="alert alert-info" *ngIf="conditionalUpdatedRow">
      <div><strong>From:</strong> {{conditionalUpdatedRow?.oldValue | json}}</div>
      <div><strong>To:</strong> {{conditionalUpdatedRow?.newValue | json}}</div>
      <div><strong>Original:</strong> {{conditionalUpdatedRow?.originalValue | json}}</div>
    </div>

  </div>
  <div class="card-footer" #conditionalInlineEditExample></div>
</div>

