<h2>Inline editing</h2>
<p>Table with simple inline editing.</p>
<div class="card mb-5">
  <div class="card-header">Example</div>
  <div class="card-block" exemplify="inlineEditExample" [context]="this" [escapeStrings]="['[gtClasses]','[gtSettings]','[gtFields]','[(gtData)]','[gtRowComponent]','[gtOptions]','[genericTable]','#myTable']" [source]="'child'" [target]="inlineEditExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'inline-editing.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/inline-editing/inline-editing.component.ts'
  }]">
    <generic-table [gtClasses]="'table-sm'" #myTable [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data" (gtEvent)="trigger($event)"></generic-table>
    <div class="text-center">
      <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
      <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
    </div>
    <div class="alert alert-info" *ngIf="updatedRow">
      <div><strong>From:</strong> {{updatedRow?.oldValue | json}}</div>
      <div><strong>To:</strong> {{updatedRow?.newValue | json}}</div>
      <div><strong>Original:</strong> {{updatedRow?.originalValue | json}}</div>
    </div>

  </div>
  <div class="card-footer" #inlineEditExample></div>
</div>

