th {
  &.sort-enable {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &.sort-asc {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "\f0d8";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-left: 4px;
    }
    &.sort-numeric::after {
      content: "\f162";
    }
    &.sort-string::after {
      content: "\f15d";
    }
  }
  &.sort-desc {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &::after {
      content: "\f0d7";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      margin-left: 4px;
    }
    &.sort-numeric::after {
      content: "\f163";
    }
    &.sort-string::after {
      content: "\f15e";
    }
  }
}

tr {
  td.clickable > span {
    cursor: pointer;
    font-weight: bold;
    color: #337ab7;
    text-decoration: none;
    &::before {
      content: "\f0da";
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-block;
      width: 14px;
      color: #000;
    }
  }
  &.row-open {
    td.clickable > span::before {
      content:"\f0d7"
    }
  }
}
span.gt-highlight-search {
  background:yellow;
}


span.link {
  color: #0275d8;
  text-decoration: none;
  cursor: pointer;
  &:focus,&:hover {
    color: #014c8c;
    text-decoration: underline;
  }
}


// Extra small devices (portrait phones, less than 544px)
@media (max-width: 543px) {
  .btn-block-xs {
    display: block;
    width: 100%;
  }
}
