/* You can add global styles to this file, and also import other style files */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import 'examples';


span.gt-row-label, th.gt-sort-label {
  display: none;
}
//@media (max-width: 576px) {
@media (max-width: 768px) {
  //div.generic-table {
  table.table-stacked {
    thead tr {
      display: table;
      width: 100%;
      th {
        //display: none;
        text-align:right;
        &:first-child {
          text-align:left;
        }
        &.sort-disable {
          display: none;
        }
        &.gt-sort-label {
          display: table-cell;
        }
      }
    }
    tr {
      & + tr {
        border-top: 1px solid #ddd;
      }


    td {
      display: block;
      border: none;
      > span {
        display: table-cell;
      }
      > span.gt-row-label {
        white-space: nowrap;
        font-weight: bold;
      }
      > span.gt-row-content {
        text-align: right;
        width: 100%;
      }
      &.hidden-stacked {
        display: none;
      }
    }
    //}
  }
  }
}
