<h2>Getting started</h2>
<p class="lead">Angular Generic Table is a generic table component for Angular. It uses standard markup for tables ie. table, tr and td elements etc. and has support for expanding rows, row selection, global search, filters, sorting on multiple columns, pagination, export to CSV, column clicks, custom column rendering, custom export values, responsive layout etc.</p>
<h5>Installation and usage</h5>
<p>Install with npm by running:</p>
<code>npm install @angular-generic-table/core --save</code>
<p class="mt-4">More info available in the <a href="https://github.com/hjalmers/angular-generic-table/wiki/Installation-and-usage" target="_blank">wiki</a>, feel free to look at the <a routerLink="/basic">basic setup</a> too:)</p>
<h5 class="mt-4">Configuration and options</h5>
<p>Check out the <a href="https://github.com/hjalmers/angular-generic-table/wiki" target="_blank">wiki articles</a> for more info.</p>

