<h2>{{ 'TRANSLATIONS.TITLE' | translate }}</h2>
<p [innerHTML]="'TRANSLATIONS.DESCRIPTION' | translate"></p>
<div class="card mb-5">
  <div class="card-header">{{'TRANSLATIONS.EXAMPLE' | translate}}</div>
  <div class="card-block" exemplify="localizationExample" [context]="this" [escapeStrings]="['[gtClasses]','[gtSettings]','[gtFields]','[(gtData)]','[gtRowComponent]','[gtOptions]','[genericTable]','[gtTexts]','#langSelect','#myTable']" [source]="'child'" [target]="translationsExample" [navStyle]="'tabs'" [externalSources]="[{
    name:'app.module.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/app.module.ts'
  },{
    name:'localization.component.ts',
    src:'https://raw.githubusercontent.com/hjalmers/angular2-generic-table/master/src/app/localization/localization.component.ts'
  }]">
    <form class="form form-inline mb-4">
      <label for="language" class="form-control-label mr-sm-2">{{ 'TRANSLATIONS.SELECT' | translate }}</label>
      <select id="language" class="form-control form-control-sm mb-2 mr-sm-2 mb-lg-0" #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </form>
    <ng-template [ngIf]="configObject">
      <generic-table [gtClasses]="'table-sm'" #myTable [gtTexts]="translations" [gtSettings]="configObject.settings" [gtFields]="configObject.fields" [gtData]="configObject.data"></generic-table>
      <div class="text-center">
        <small><gt-table-info class="form-text text-muted mb-2" [genericTable]="myTable"></gt-table-info></small>
        <gt-pagination [gtClasses]="'pagination-sm justify-content-center'" [genericTable]="myTable"></gt-pagination>
      </div>
    </ng-template>
  </div>
  <div class="card-footer" #translationsExample></div>
</div>
